@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  background-image: url("@/assets/images/bgMain.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: "Instrument Sans", sans-serif;
  opacity: 30;
}

#heroSection {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  text-transform: uppercase;
}

.purpleGhost {
  background-color: #6651ea;
}
.purpleGhostTxt {
  color: #6651ea;
}
.triClr {
  color: #6b6b6b;
}

/* When using this code first check where if assets have images used here  */
/* [data-theme="bullseye-gradient"] {
  background-image: url("@/assets/images/bullseye-gradient.svg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #330055;
  --txtClr: #f8f9fa;
  --btnClr: #1e90ff;
}

[data-theme="subtle-prism"] {
  background-image: url("@/assets/images/subtle-prism.svg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #ffffff;
}

[data-theme="spectrum-gradient"] {
  background-image: url("@/assets/images/bg-spectrum-gradient.svg");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #ee5522;
}
[data-theme="dragon-scales"] {
  background-image: url("@/assets/images/dragon-scales.svg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #bfdb35;
}

[data-theme="black-dog"] {
  background-image: url("@/assets/images/black-dog.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #000000;
} */

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: black;
}

.shadow-ui {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.349);
}
